.header {
  text-align: center;
  padding: 2rem 0 1rem 0;
}

.header-title {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 4px;
}

.header-line {
  height: 1px;
  background: #999;
  margin: 1rem auto;
  width: 80%;
}